<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" >
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="logo" src="https://github.githubassets.com/pinned-octocat.svg" alt="github logo" />
      <a mat-button class="app-name" routerLink="/">
        <span>Github search</span>
      </a>
    </div>
  </div>
  <div class="toolbar-link-list">
    <a mat-button routerLink="/issues-search">Issues search</a>
  </div>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav color="primary" #sidenav fxLayout="column">
    <div fxLayout="column">
      <a mat-button routerLink="/issues-search">Issues search</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
